# Exclude all template files (DOCX, TTF...)
assets/templates/*

# Exclude all input files (HTML, XML)
input/*

# Exclude the Python cache folder
lib/__pycache__

# Exclude all output files (DOCX, PDF)
output/*

# Exclude all temporary files
~*